.profile-box {
    display: flex;
    justify-content: center;
    padding: 32px 96px;
    gap: 51px;
}

.profile-box {
    background-color: #F2EFF6;
}

.profile-box_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.profile-box_left_button a {
    background-color: #98BB87;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.profile-box_left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    width: 295px;
    height: 370px;
    gap: 32px;
}

.profile-box_left_container img {
    width: 130.55px;
    height: 130px;
    border-radius: 50%;
}

.profile-box_left_container ul {
    display: flex;
    flex-direction: column;
}

.profile-box_left_container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 9px 6px;
    border-radius: 10px;
    background: #F5F5F5;
    width: 240px;
    height: 40px;
    padding: 0 10px;
}

.profile-box_left_container ul li p {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.profile-box_left_container ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.profile-box_left_container ul li a {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.profile-box_right {
    display: flex;
    flex-direction: column;
}

.profile-box_right_container {
    display: flex;
    flex-direction: column;
}

.profile-box_right_container_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-box_right_container_info h1 {
    font-size: 32px;
    color: #1E1E1E;
    font-family: "Montserrat";
    font-weight: 700;
}


.profile-box_right_container_info_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-box_right_container_info_block h2 {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 20px;
}

.profile-box_right_container_info_block_p {
    width: 835px;
    height: 109px;
}

.profile-box_right_container_info_block p {
    font-family: "Montserrat";
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.took-part {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #8A8EA3;

    gap: 33px;
    text-align: left;
}

.took-part h1 {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.took-part_container {
    display: flex;
    gap: 30px;
}

.took-part_container_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    height: 252px;
}

.took-part_container_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.took-part_container_card_info_h3 {
    font-size: 14px;
    align-items: center;
    width: 128px;
    height: 43px;

    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    line-height: normal;
}

.accrual-points {
    margin-top: 55px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 829px;
    height: 651px;
}

.accrual-points h1 {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accrual-points ul {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 20px;
}

.accrual-points ul li {
    display: flex;
    gap: 38px;
    border: 1px solid #0089C2;
    padding: 20px;
    border-radius: 10px;
}

.accrual-points ul li p {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.accrual-points_ul_li_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.accrual-points_ul_li_left h2 {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accrual-points_ul_li_left p {
    color: #0089C2;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.historyDecency {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: 82px;
}

.historyDecency h1 {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 25px 40px;
}

.historyDecency ul {
    display: flex;
    flex-direction: column;
}

.historyDecency ul li {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    gap: 25px;
}

.decency-indicator {
    background-color: #5CA781;
    width: 5px;
    height: 81px;
}

.decency-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.decency-date h2 {
    color: #000;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.decency-date p {
    color: #666;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.decency-info {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 361px;
}

.decency-additional-info {
    color: #1E1E1E;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 241px;
}

.editingProfile {
    display: flex;
    align-items: center;
    padding: 115px 103px;
    background-color: #F2EFF6;
}

.editingProfile_container {
    display: flex;
    gap: 63px;
}

.editingProfile_container_left {
    background-color: white;
    border-radius: 10px;
    width: 346px;
    height: 380px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 65px;
    gap: 32px;
}

.editingProfile_container_left a {
    display: flex;
    width: 275px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #4470BD;
    border-radius: 10px;
}

.editingProfile_container_right_container {

}