* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2EFF6;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 36px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 1920px;
    padding: 0 96px;
}

header nav ul {
    display: flex;
    gap: 55px;
}

header nav ul li a {
    color: black;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

header nav ul li a:hover {
    border-bottom: 2px solid #2EA2D6;
}


.container_monolith {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.container_splite {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: 1px solid #8A8EA3;
    width: 100%;
    height: 22px;
    padding: 13px;

    color: #8E92A7;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


select {
    border-radius: 10px;
    border: 1px solid #8A8EA3;
    padding: 13px;

    color: #8E92A7;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


textarea {
    background-color: #F2EFF6;
    border: 1px solid #8A8EA3;
    border-radius: 10px;
    outline: none;
    padding: 10px 21px;

    color: #8E92A7;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.footer_up {
    display: flex;
    justify-content: center;
    gap: 72px;

    padding-top: 79px;
    padding-left: 114px;
    padding-right: 114px;
    padding-bottom: 75px;

    background-color: #FFF;
}

.footer_card {
    display: flex;
    flex-direction: column;
    width: 330px;
    gap: 30px;
}

.footer_card_title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_card_title h1 {
    color: #003466;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer_card p {
    color: #8A8EA3;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.footer_card img {
    width: 88px;
    height: 55px;
}

.footer_card hr {
    color: #2EA2D6;
}

.footer_card ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_card ul li a {
    color: #8A8EA3;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_card ul li a:hover {
    color: #2EA2D6;
    font-weight: 600;
}

.hidden {
    display: none;
}


tr {
    display: flex;
}

table {
    width: 100%;
}

table thead tr {
    padding-left: 10px;
}

.number {
    margin-right: 153px;
}

.fullName {
    margin-right: 242px;
}

.hei {
    margin-right: 59px;
}

.numberEvents {
    margin-right: 76px;
}

.alpha {
    margin-right: 76px;
}

.omega {
    margin-right: 61px;
}

/* Спросить как более грамотно это реализовать */
thead tr {
    display: flex;
    background: #EEF0F4;
    padding-top: 22px;
    padding-bottom: 22px;

    color: #42577C;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

tbody tr {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
}

tbody tr td {
    display: flex;
    flex-direction: column;
}

tbody tr td h4 {
    color: #000;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

tbody tr td p {
    color: #666;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.greenButton {
    display: flex;
    width: 295px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #98BB87;

    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.greenButton:hover {
    background-color: #2EA2D6;
}

.blueButton {
    display: flex;
    width: 211px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    color: #4470BD;
    border: 1px solid #4470BD;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.blueButton:hover {
    background: #2EA2D6; 
    color: white;
    border: 1px solid #2EA2D6;
}

.blueButton:active {
    color: #4470BD;
    border: 1px solid #4470BD; 
}