* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 72px;
}

header nav ul {
    display: flex;
    gap: 55px;
}

header nav ul li a {
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}

.authentication-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EFF6;
}

.authentication-box_container {
    display: flex;
    gap: 32px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 24px 53px;
    margin: 32px 347px;
}


.authentication-box_container_title {
    display: flex;
    justify-content: space-between;
}

.authentication-box_container_input_div h2 {
    font-family: 'Montserrat';
    color: black;
    font-size: 32px;
}

.authentication-box_container_input {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    flex-direction: column;
}

.authentication-box_container_input input {
    width: 572px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #8A8EA3;
    outline: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}

.authentication-box_container_input p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}

.authentication-box_container_input_login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.authentication-box_container_input_password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.authentication-box_container_input_password_title {
    display: flex;
    justify-content: space-between;
}

.authentication-box_container_checkBox {
    display: flex;
    gap: 16px;
    font-family: 'Montserrat';
}

.authentication-box_container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-box_container_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD0F7;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #293F66;
}

.authentication-box_container_title_right {
    display: flex;
    gap: 4px;
}

.authentication-box_container_title_right a {
    color: #2EA2D6;
    font-weight: 600;
}

.authentication-box_container_title_right p {
    color: #8A8EA3;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
}

.authentication-box_container_reg {
    display: flex;
    gap: 32px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 24px 53px;
    margin: 32px 347px;
}

footer {
    padding: 78px 114px;
    display: flex;
    justify-content: center;
    gap: 72px;
}

.footer_child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_child_title {
    display: flex;
    flex-direction: column;
}

.footer_child_title hr {
    border: 1px solid #2EA2D6;
    outline: none;
}

.footer_child_title h1 {
    color: #003466;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.footer_about-us_p {
    width: 330.828px;
    height: 229.09px;

    color: #8A8EA3;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.footer_navigation_title {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.footer_navigation_title h1 {
    color: #003466;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.footer_navigation_title hr {
    border: 1px solid #2EA2D6;
    outline: none;
}

.footer_navigation ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 28px;
}

.footer_navigation ul li a {
    color: #8A8EA3;
}

.footer_feedback_list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_feedback_list ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_feedback_list ul p {
    color: #8A8EA3;
    font-weight: 500;
    font-size: 16px;
    font-family: "Montserrat";
}

.footer_socialNetwork {
    display: flex;
    flex-direction: column;
    gap: 10px;
}